<?php

return [
    'dingtalk' => [
        'access_token' => ''
    ],
    'digitalstrait' => [
        'cookie' => '',
    ],
    'crawler' => [
        'digitalstrait' => [
            'date' => [
                '2024-2-4',
                '2024-2-5',
                '2024-2-6',
                '2024-2-7',
                '2024-2-8',
            ],
            'port_code' => [
                102, // 新海港
                101, // 秀英港
            ],
        ],

        'yue_hai' => [
            'base_uri' => 'https://wx.17u.cn',

            'date' => [
                '2024-02-04',
                '2024-02-05',
                '2024-02-06',
                '2024-02-07',
                '2024-02-08',
            ],
        ],
    ],
];